* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*=== Secton esquerda ===*/
.left-section {
    width: 30%;
}
form {
    float: right;
    width: 80%;
    border: 2px solid white;
    font-family: 'Exo', sans-serif;
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

/*===== Formulario style =====*/

label, input {
    color: white;
}

/* CPF e NOME */
.form-control {
    position: relative;
    margin: 20px 0 30px;
    margin: 15px;
    margin-top: 25px;
    width: 190px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}
  
.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}
  
.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}
  
.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.form-control input:focus+label span,
.form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}

/* Fieldset CPF e NOME */
.campo-nome-cpf {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

/* PERGUNTAS CIVIS */
.campo-estado-civil {
    text-align: center;
    margin-top: 15px;
    padding: 0;
    border: none;
}

.top-form-quest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.civil-status-quest, .civil-status-children-quest {
    margin: 20px;
}

/* CERTIFICADOS */
.certificados {
    border: none;
}

.certificados-de-campo {
    display: grid;
    justify-content: center;
} 
.certificado-titulo {
    margin-bottom: 10px;
}

.campo {
    display: grid;
    text-align: center;
} 
.campo label {
    margin-bottom: 10px;
} 
.campo textarea {
    width: 90%;
    justify-self: center;
    border: none;
    outline: none;
    padding: 10px;
}

.btn {
    display: flex;
    justify-content: center;
}
button {
    position: relative;
    width: 50%;
    padding: 8px;
    background: none;
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
} button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease;
    z-index: -1;
}
button:hover {
    color: black;
}
button:hover::before {
    color: black;
    left: 0;
}
button:active {
    background-color: black;
    color: #fff;
}

/*=== Section Direita ===*/
.right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
} 
.aurora {    
    margin-left: 70px;
    align-self: center;
    margin-top: 20px;
    width: 700px;
} 
.propagandas {    
    margin-left: 70px;
    display: flex;
    justify-content: center;
    float: left;
}
.propagandas img {
    width: 250px;
    margin-top: 5px;
    margin-right: 30px;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    bottom: 0;
}

/*===== ALISTAMENTO SCREEN =====*/
@media screen and (max-width: 1440px) {
    .left-section {
        width: 35%;
    }
    .aurora {
        width: 600px;
    }
    .propagandas img {
        width: 200px;
    }
}
@media screen and (max-width: 1280px) {
    .left-section {
        width: 40%;
    }
    .aurora {
        width: 500px;
    }
    .propagandas img {
        width: 180px;
    }
}
@media screen and (max-width: 884px) {
    main {
        flex-direction: column;
        margin-top: 30px;
    }
    .left-section {
        display: flex;
        justify-content: center;
        width: 70%;
    }
    .right-section {
        align-items: center;
        margin-bottom: 20px;
    }
    .propagandas {
        margin: 0;
    }
    .aurora {
        margin-left: 0;
    }
    .certificados-de-campo input {
        margin: 8px;
    }
}
@media screen and (max-width: 428px) {
    .left-section {
        width: 100%;
        display: grid;
    }
    .campo-estado-civil {
        font-size: 13.5px;
    }
    form {
        justify-self: center;
        width: 90%;
        float: none;
    }
    .aurora {
        width: 380px;
    }
    .propagandas img {
        width: 110px;
        margin-right: 0;
        margin: 10px;
    }
    footer p {
        font-size: 12px;
    }
}
@media screen and (max-width: 360px) {
    form {
        width: 95%;
    }
    .aurora {
        width: 330px;
    }
    .propagandas img {
        width: 100px;
    }
    footer p {
        font-size: 10px;
    }
}
@media screen and (max-width: 320px) {
    .campo-estado-civil {
        font-size: 13px;
    }
    .aurora {
        width: 290px;
    }
    .propagandas img {
        width: 86px;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}