.bg-video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -100;
}
/*-- loading --*/
.box-load {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre {
    width: 350px;
    height: 310px;
    background-image: url('/imagens/AlterraLogo.png');
    background-position: center;
    background-size: cover;
    animation: load 4s linear infinite;
}
@keyframes load {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


/*===== Cabecalho =====*/

header {
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    height: 65px;
    display: flex;
}

a {
    display: flex;
    align-items: center;
}

/* PARTE ESQUEDA */
.left-header-logo {
    width: 50%;
    display: flex;
    align-items: center;
}
/* LOGO */
.header-alterralogo {
    width: 65px;
    margin-left: 20px;
}
.header-AlterraText {
    width: 140px;
    margin-left: 5px;
}

/*=== PARTE DIREITA ===*/
.right-header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* Links */
.hover1, .hover2, .hover3 {
    padding: 15px;
    margin: 18px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.index {
    margin: 0;

}

/* Efeito Hover */
.hover1, .hover2, .hover3 {
    position: relative;
    color: white;
}
.hover1:after , .hover2:after , .hover3:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.cta1:hover .hover1:after , .cta2:hover .hover2:after , .cta3:hover .hover3:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 1024px) {
    .bg-video {
        height: 100%;
    }
}
@media screen and (max-width: 885px) {
    .bg-video {
        left: -50%;
    }
}
@media screen and (max-width: 835px) {
    .bg-video {
        left: -50%;
    }
}
@media screen and (max-width: 768px) {
    .bg-video {
        left: -50%;
    }
}

@media screen and (max-width: 670px) {
    .hover1, .hover2, .hover3 {
        font-size: 15px;
        margin: 0;
        padding: 8px;
    }
    .header-alterralogo {
        width: 50px;
    }
    .header-AlterraText {
        width: 110px;
    }
    .left-header-logo {
        width: 30%;
    }
    .right-header-content {
        width: 66%;
    }
}
@media screen and (max-width: 560px) {
    .bg-video {
        left: -60%;
    }
}
@media screen and (max-width: 415px) {
    .header-alterralogo {
        width: 45px;
    }
    .header-AlterraText {
        width: 100px;
    }
}
@media screen and (max-width: 425px) {
    header {
        margin-top: 6px;
    }
    .bg-video {
        left: -95%;
    }
}
@media screen and (max-width: 425px) {
    .right-header-content {
        margin-left: 5px;
    }
}
@media screen and (max-width: 390px) {
    .right-header-content {
        margin-left: 10px;
    }
}
@media screen and (max-width: 375px) {
    .right-header-content {
        margin-left: 10px;
    }
    .header-alterralogo {
        width: 30px;
    }
    .header-AlterraText {
        width: 100px;
    }
}
@media screen and (max-width: 360px) {
    .header-AlterraText {
        width: 85px;
    }
}
@media screen and (max-width: 320px) {
    header {
        align-items: center;
    }
    .left-header-logo {
        justify-content: center;
        margin-bottom: 2px;
        flex-direction: row;
    }
}